[Desktop Entry]
Name=Gaphor
Comment=The simple modeling tool
Comment[es]=La sencilla herramienta de modelado
Comment[fr]=L'outil de modélisation facile
Comment[hu]=Egyszerű modellező eszköz
Comment[nl]=De eenvoudige modelleertool
Comment[pl]=Proste narzędzie do modelowania
Exec=gaphor-exe %f
Icon=org.gaphor.Gaphor
Terminal=false
Type=Application
Categories=GTK;GNOME;Development;ProjectManagement;
MimeType=application/x-gaphor
Keywords=UML;RAAML;C4;SysML;Design;Graph;
