build
dist
gaphor/UML/uml2.py
gaphor/data
po/gaphor.pot
html
*.pyc
*.pyo
*.swp
*.egg
.eggs/
gaphor.egg-info/
tmp.gaphor

# Virtual env stuff
.gaphor/
.venv/
.vscode/
.python-version

# Coverage
.coverage

# Tox
.tox
