build
dist
po/gaphor.pot
html
*.pyc
*.pyo
*.swp
*.egg
.eggs/
gaphor.egg-info/
tmp.gaphor
.gpg
pip-wheel-metadata

# Virtual env stuff
.venv/
.vscode/
.python-version

# Coverage
.coverage

# Editors
.idea

# Flatpak
flatpak/build
flatpak/gaphor-repo
flatpak/.flatpak-builder

# Briefcase build directories
iOS/
macOS/
windows/
android/
linux/
django/

# Windows Install
win-installer/_build_root