repos:
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.8.0
  hooks:
  - id: mypy
    additional_dependencies:
    - types-docutils
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: check-yaml
    exclude: '.\.gaphor'
  - id: trailing-whitespace
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.9.0.6
  hooks:
  - id: shellcheck
    args: [--exclude, SC1017]
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: 'v0.1.14'
  hooks:
  - id: ruff
    args: [--fix]
  - id: ruff-format
    types_or: [python, spec]
