repos:
- repo: https://github.com/ambv/black
  rev: 19.10b0
  hooks:
  - id: black
    language_version: python3
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.770
  hooks:
  - id: mypy
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.8.0a2
  hooks:
  - id: flake8
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.4.0
  hooks:
  - id: check-toml
  - id: check-yaml
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v5.0.7
  hooks:
  - id: isort
    additional_dependencies: [toml]
