repos:
- repo: https://github.com/ambv/black
  rev: 20.8b1
  hooks:
  - id: black
    language_version: python3
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.782
  hooks:
  - id: mypy
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.8.3
  hooks:
  - id: flake8
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: check-toml
  - id: check-yaml
- repo: https://github.com/pre-commit/mirrors-isort
  rev: v5.5.3
  hooks:
  - id: isort
    additional_dependencies: [toml]
- repo: https://github.com/myint/docformatter
  rev: v1.3.1
  hooks:
  - id: docformatter
    args: [--in-place]
- repo: git://github.com/detailyang/pre-commit-shell
  rev: v1.0.6
  hooks:
  - id: shell-lint
    args: [-x]