language: python
cache: pip

stages:
  - lint
  - test

jobs:
  include:
    - os: linux
      dist: xenial
      python: 3.7.2
      env: PYTEST_ADDOPTS="--doctest-modules"
      sudo: true
      before_install: >
        - sudo apt-get update -q && sudo apt-get install --no-install-recommends -y
          python3-dev python3-gi python3-gi-cairo
          gir1.2-gtk-3.0 libgirepository1.0-dev libcairo2-dev
      script:
        - xvfb-run poetry run pytest

    - os: osx
      language: generic
      env: PYTEST_ADDOPTS="--doctest-modules"
      before_install:
        - brew upgrade python
        - brew install gobject-introspection gtk+3
      before_script:
        - "export DISPLAY=:99.0"
        - "sh -e /etc/init.d/xvfb start"
        - sleep 3 # give xvfb some time to startall
      script:
        - poetry run pytest

    - stage: lint
      os: linux
      dist: xenial
      python: 3.7.2
      before_install: skip
      install:
        - pip install pre-commit
        - pre-commit install-hooks
      script:
        - pre-commit run --all-files
      after_success: skip

install:
  - pip3 --disable-pip-version-check install poetry
  - ./venv
  - poetry install
after_success:
  - coveralls

notifications:
  email: false
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/1e0a1432c48a12660160
    on_success: change
    on_failure: always
    on_start: never