language: python
cache: pip

stages:
- lint
- test

jobs:
  include:
  - os: linux
    dist: xenial
    python: 3.7.2
    env: PYTEST_ADDOPTS="--cov=gaphor"
    sudo: true
    before_install: 'sudo apt-get update -q && sudo apt-get install --no-install-recommends
      -y python3-dev python3-gi python3-gi-cairo gir1.2-gtk-3.0 libgirepository1.0-dev
      libcairo2-dev'
    script:
    - xvfb-run poetry run pytest
    before_deploy:
    - poetry config http-basic.pypi $PYPI_USER $PYPI_PASSWORD
    - poetry build
    deploy:
      skip_cleanup: true
      provider: script
      script: poetry publish
      draft: true
      tag_name: $TRAVIS_TAG
      on:
        tags: true

  - os: osx
    language: generic
    before_cache:
    - brew cleanup
    cache:
      directories:
      - $HOME/Library/Caches/Homebrew
    env:
    - PYTEST_ADDOPTS="--doctest-modules"
    - DISPLAY=:99.0
    - PKG_CONFIG_PATH=/usr/local/Cellar/libffi/3.2.1/lib/pkgconfig:${PKG_CONFIG_PATH:-}
    before_install:
    - brew upgrade python
    - brew install gobject-introspection gtk+3
    - mkdir -p /Users/travis/.local/share
    script:
    - source .venv/bin/activate
    - Xvfb :99.0 & pytest
    before_deploy:
    - source .venv/bin/activate
    - python setup.py macos -b
    deploy:
      skip_cleanup: true
      provider: releases
      draft: true
      tag_name: $TRAVIS_TAG
      api_key:
        secure: Kh3FkAxlQYDuL9WsEUDlDeiYcZ9Ax9QvLfmnVqeDx6bb2DSZP+UBbtXvNKFQ4UgCLezyUlmWLcr64R5Y/4xuaN+p8G9CKT5OA1Z+WY1KAgI1FlwQWCxnG9RJMuxZ0QzPW3LjSeHREM8N7pwgxnEvN3HZKNUB1tm+o8llXMSjGdg=
      file: macOS/Gaphor.dmg
      on:
        tags: true

  - stage: lint
    os: linux
    dist: xenial
    python: 3.7.2
    before_install: skip
    install:
    - pip install pre-commit
    - pre-commit install-hooks
    script:
    - pre-commit run --all-files
    after_success: skip

install:
- ./venv

after_success:
- coveralls

notifications:
  email: false
  webhooks:
    urls:
    - https://webhooks.gitter.im/e/1e0a1432c48a12660160
    on_success: change
    on_failure: always
    on_start: never

env:
  global:
  - secure: SpGuC4czJM/68wv0x860/MbwvOF/7CVjEUoZuWV2xkcJtcw5xapI3EgWsJYu33zAIZrgHBUOpwwbQWf4ud5zqznziTZj53DM/oSxnUBLTgsgYwuNQDYWP0htFNnRWQfcQfRkUDeJzhRBc3fNcSxT+Hvh6f+qAaPq3qKApAPgi3A=
  - secure: KkwTMvRZdY3ge4VV+rF3zJDeMsAZHprL/NpsK5ogUIRrPHW6QikpMEtO5P5xQO4RwollkZiPY9hy7ne/VYsoXlHX8jvHOe3OjlQdTkmjJaVVKQY65YjWV4KWiu55YRiAHy10LsnN5FUKVu6vYwHGT6EK3BSb9L+iHqtYWLEHjfo=
