jobs:
  - job: MAIN
    timeoutInMinutes: 60
    pool:
      vmImage: vs2017-win2016
    steps:
      - script: |
          choco install msys2 --params="/InstallDir:%CD:~0,2%\msys64 /NoUpdate /NoPath"
        displayName: Install MSYS2

      - script: |
          set PATH=%CD:~0,2%\msys64\usr\bin;C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem
          %CD:~0,2%\msys64\usr\bin\pacman --noconfirm -Syyuu
          %CD:~0,2%\msys64\usr\bin\pacman --noconfirm -Syuu
        displayName: Update MSYS2

      - script: >
          set PATH=C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem

          %CD:~0,2%\msys64\usr\bin\bash -lc "export MSYS2_FC_CACHE_SKIP=1"

          %CD:~0,2%\msys64\usr\bin\bash -lc "pacman --noconfirm -Suy"

          %CD:~0,2%\msys64\usr\bin\bash -lc "pacman --noconfirm -S --needed git mingw-w64-x86_64-gtk3
          mingw-w64-x86_64-python3-gobject mingw-w64-x86_64-python3-cairo mingw-w64-x86_64-python3-pip
          mingw-w64-x86_64-python3-pytest mingw-w64-x86_64-python3-coverage mingw-w64-x86_64-python3
          mingw-w64-x86_64-python3-setuptools mingw-w64-x86_64-python3-zope.interface"

          %CD:~0,2%\msys64\usr\bin\bash -lc "%CD:~0,2%\msys64\usr\bin\python3.exe -m pip install pycairo PyGObject gaphas zope.component tomlkit"
        displayName: Install Depdendencies
        env:
          CHERE_INVOKING: yes

      - script: |
          set PATH=C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem
          export PYTEST_ADDOPTS="-v --junitxml=junit/test-results.xml"
          %CD:~0,2%\msys64\usr\bin\bash -lc "pytest"
        displayName: Run Tests
        env:
          CHERE_INVOKING: yes

      - task: PublishTestResults@2
        condition: not(canceled())
        inputs:
          testResultsFormat: JUnit
          testResultsFiles: '**/test-*.xml'
          testRunTitle: 'Publish test results'
