trigger:
  branches:
    include:
      - '*'
      - refs/tags/*

variables:
  System.Debug: true

jobs:
  - job: Windows
    timeoutInMinutes: 60
    pool:
      vmImage: vs2017-win2016
    variables:
      MSYSTEM: MINGW64
      MSYS2_ARCH: x86_64

    steps:
      - script: |
          set MSYS2_ROOT=%CD:~0,2%\msys64
          choco install msys2 --params="/InstallDir:%MSYS2_ROOT% /NoUpdate /NoPath"
        displayName: Install MSYS2

      - script: |
          set MSYS2_ROOT=%CD:~0,2%\msys64
          git clone https://github.com/userzimmermann/MSYS2-cmd.git %MSYS2_ROOT%\cmd
          %MSYS2_ROOT%\cmd\msystem MSYS
        displayName: Install and Activate MSYS2-cmd

      - script: |
          set MSYS2_ROOT=%CD:~0,2%\msys64
          %MSYS2_ROOT%\cmd\msystem MSYS
          pacman --noconfirm -Syyuu
          pacman --noconfirm -Syuu
        displayName: Update MSYS2

      - script: |
          set MSYS2_ROOT=%CD:~0,2%\msys64
          %MSYS2_ROOT%\cmd\msystem MSYS
          bash -c ".azure/msys2-install.sh"
        displayName: Install Dependencies
        env:
          MSYS2_ARCH: $(MSYS2_ARCH)
          MSYSTEM: $(MSYSTEM)
          CHERE_INVOKING: yes

      - script: |
          set MSYS2_ROOT=%CD:~0,2%\msys64
          %MSYS2_ROOT%\cmd\msystem MSYS
          bash -c ".azure/msys2-test.sh"
        displayName: Run Tests
        env:
          MSYS2_ARCH: $(MSYS2_ARCH)
          MSYSTEM: $(MSYSTEM)
          CHERE_INVOKING: yes

      - task: PublishTestResults@2
        condition: not(canceled())
        inputs:
          testResultsFiles: junit/test-results.xml
          testRunTitle: Publish Test Results

      - script: |
          set MSYS2_ROOT=%CD:~0,2%\msys64
          %MSYS2_ROOT%\cmd\msystem MSYS
          bash -c "win-installer/build.sh"
        displayName: Create Windows Binaries
        condition: and(succeeded(), contains(variables['Build.SourceBranch'], 'refs/tags/'))
        env:
          MSYSTEM: $(MSYSTEM)
          CHERE_INVOKING: yes

      - task: CopyFiles@2
        displayName: Copy Windows Binaries
        condition: and(succeeded(), contains(variables['Build.SourceBranch'], 'refs/tags/'))
        inputs:
          sourceFolder: .
          contents: '*.exe'
          targetFolder: $(Build.ArtifactStagingDirectory)

      - task: GitHubRelease@0
        condition: and(succeeded(), contains(variables['Build.SourceBranch'], 'refs/tags/'))
        displayName: Create GitHub Release
        inputs:
          gitHubConnection: GaphorConnection
          repositoryName: gaphor/gaphor
          action: create
          tagSource: auto
          target: $(Build.SourceVersion)
          assets: $(Build.ArtifactStagingDirectory)/*.exe
          isDraft: true

  - job: macOS
    pool:
      vmImage: 'macOS-10.13'
    timeoutInMinutes: 60
    steps:
    - script: |
        brew install gobject-introspection gtk+3
        ./venv
        source .venv/bin/activate
        pip install pytest-xvfb
      displayName: 'Install dependencies'
      env:
        PKG_CONFIG_PATH: /usr/local/Cellar/libffi/3.2.1/lib/pkgconfig:${PKG_CONFIG_PATH:-}

    - script: |
        source .venv/bin/activate
        pytest
      displayName: 'PyTest'
      env:
        PYTEST_ADDOPTS: "--doctest-modules"