include COPYING INSTALL NEWS README TODO AUTHORS run-gaphor.sh
include bin/gaphor
recursive-include doc usecases.txt ui-design.txt diagram-in-python.txt
recursive-include gaphor *.py
include gaphor/UML/uml2.gaphor
include gaphor/UML/uml2.override
recursive-include po gaphor.pot *.po 
include data/icons.xml
recursive-include data/pixmaps *24.png diagram16.png
recursive-include tests *.py *.sh
recursive-include utils *.py
global-exclude */CVS/*
global-exclude */.xvpics/*
