include COPYING INSTALL NEWS README TODO AUTHORS run-gaphor.sh
include bin/gaphor
recursive-include doc usecases.txt ui-design.txt diagram-in-python.txt
recursive-include doc aspects-en.txt
recursive-include gaphor *.py
include gaphor/UML/uml2.gaphor
include gaphor/UML/uml2.override
recursive-include po gaphor.pot *.po 
recursive-include data/pixmaps *24.png diagram16.png
recursive-include tests *.py *.sh
recursive-include utils *.py
recursive-include src gtk*wrapbox.c gtk*wrapbox.h wrapbox.defs wrapbox.override wrapboxmodule.c
global-exclude */CVS/*
global-exclude */.xvpics/*
