[tool.poetry]
name = "gaphor"
version = "1.0.0.post2"
description = "Gaphor is the simple modeling tool written in Python."
authors = [
    "Arjan J. Molenaar <gaphor@gmail.com>",
    "Dan Yeaw <dan@yeaw.me>"
]

readme = "README.md"

homepage = "https://gaphor.readthedocs.io/"
repository = "https://github.com/gaphor/gaphor"
documentation = "https://gaphor.readthedocs.io/"

keywords = ["gtk+", "diagram", "UML", "MBSE", "gaphor", "modeling"]

classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: X11 Applications :: GTK",
    "Intended Audience :: Developers",
    "Intended Audience :: End Users/Desktop",
    "Intended Audience :: Information Technology",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: MacOS :: MacOS X",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: POSIX",
    "Operating System :: Unix",
    "Programming Language :: Python",
    "Topic :: Multimedia :: Graphics :: Editors :: Vector-Based",
    "Topic :: Software Development :: Documentation",
]

[tool.poetry.dependencies]
python = "^3.5"
pycairo = "^1.18"
PyGObject = "^3.30"
gaphas = "^1.0.0"
"zope.component" = "^4.5"
setuptools = "^41.0"

[tool.poetry.dev-dependencies]
pytest = "^4.0"
pytest-sugar = "^0.9.2"
pytest-cov = "^2.5"
pytest-runner = "^4.2"
black = { version = "^18.3-alpha.0", python = "^3.6" }
pre-commit = "^1.12"
briefcase = "^0.2.9"

[tool.poetry.scripts]
gaphor = 'gaphor:main'
gaphorconvert = 'gaphor.tools.gaphorconvert:main'

[tool.poetry.plugins."gaphor.services"]
"component_registry" = "gaphor.services.componentregistry:ZopeComponentRegistry"
"adapter_loader" = "gaphor.services.adapterloader:AdapterLoader"
"properties" = "gaphor.services.properties:Properties"
"undo_manager" = "gaphor.services.undomanager:UndoManager"
"element_factory" = "gaphor.UML.elementfactory:ElementFactoryService"
"file_manager" = "gaphor.services.filemanager:FileManager"
"diagram_export_manager" = "gaphor.services.diagramexportmanager:DiagramExportManager"
"action_manager" = "gaphor.services.actionmanager:ActionManager"
"main_window" = "gaphor.ui.mainwindow:MainWindow"
"copy" = "gaphor.services.copyservice:CopyService"
"sanitizer" = "gaphor.services.sanitizerservice:SanitizerService"
"element_dispatcher" = "gaphor.services.elementdispatcher:ElementDispatcher"
"xmi_export" = "gaphor.plugins.xmiexport:XMIExport"
"diagram_layout" = "gaphor.plugins.diagramlayout:DiagramLayout"
"pynsource" = "gaphor.plugins.pynsource:PyNSource"
"alignment" = "gaphor.plugins.alignment:Alignment"
"help" = "gaphor.services.helpservice:HelpService"

[tool.poetry.plugins."gaphor.uicomponents"]
"namespace" = "gaphor.ui.mainwindow:Namespace"
"toolbox" = "gaphor.ui.mainwindow:Toolbox"
"diagrams" = "gaphor.ui.mainwindow:Diagrams"
"consolewindow" = "gaphor.ui.consolewindow:ConsoleWindow"
"elementeditor" = "gaphor.ui.elementeditor:ElementEditor"

[build-system]
requires = ["setuptools", "wheel", "poetry>=0.12"]
build-backend = "poetry.masonry.api"
