[tool.poetry]
name = "gaphor"
version = "1.0.0rc1"
description = "Gaphor is a UML modeling tool"
authors = [
    "Arjan J. Molenaar <gaphor@gmail.com>",
    "Dan Yeaw <dan@yeaw.me>"
]
license = "LGPL-2.0"

readme = "README.rst"

homepage = "https://gaphor.readthedocs.io/"
repository = "https://github.com/gaphor/gaphor"
documentation = "https://gaphor.readthedocs.io/"

keywords = ["gtk+", "diagram", "UML", "MBSE", "gaphor", "modeling"]

classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: X11 Applications :: GTK",
    "Intended Audience :: Developers",
    "Intended Audience :: End Users/Desktop",
    "Intended Audience :: Information Technology",
    "License :: OSI Approved :: GNU General Public License (GPL)",
    "Operating System :: MacOS :: MacOS X",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: POSIX",
    "Operating System :: Unix",
    "Programming Language :: Python",
    "Topic :: Multimedia :: Graphics :: Editors :: Vector-Based",
    "Topic :: Software Development :: Documentation",
]

[tool.poetry.dependencies]
python = "^3.5"
pycairo = "^1.18"
PyGObject = "^3.30"
gaphas = "^1.0.0"
"zope.component" = "^4.5"

[tool.poetry.dev-dependencies]
pytest = "^4.0"
pytest-sugar = "^0.9.2"
pytest-cov = "^2.5"
pytest-runner = "^4.2"
black = { version = "^18.3-alpha.0", python = "^3.6" }
pre-commit = "^1.12"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
