# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.7.2
    working_directory: ~/repo

    steps:
      - checkout
      - run:
          name: update packages
          command: sudo apt update -q
      - run:
          name: install packages
          command: >
            sudo apt install --no-install-recommends -y xvfb python3-dev python3-gi
            python3-gi-cairo gir1.2-gtk-3.0 libgirepository1.0-dev libcairo2-dev
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "poetry.lock" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-
      - run:
          name: install dependencies
          command: |
            pip --disable-pip-version-check install poetry
            poetry install
      - save_cache:
          paths:
            - ~/.cache/pypoetry
          key: v1-dependencies-{{ checksum "poetry.lock" }}
      - run:
          name: run tests
          command: |
            xvfb-run poetry run pytest

      - store_artifacts:
          path: test-reports
          destination: test-reports