[Desktop Entry]
Name=Gaphor
Comment=The simple modeling tool
Comment[nl]=UML modelleer omgeving environment
Comment[pl]=Środowisko modelowania UML
Exec=gaphor %f
Icon=org.gaphor.Gaphor
Terminal=false
Type=Application
Categories=GTK;GNOME;Development;ProjectManagement;
