Gaphor.app/Contents/.Python
Gaphor.app/Contents/Resources/bin/
Gaphor.app/Contents/Resources/include/
Gaphor.app/Contents/Resources/lib/
Gaphor.app/Contents/Resources/etc/
Gaphor.app/Contents/Resources/share/
