# Keep until RTD fully support pyproject.toml
docutils==0.16
Pygments==2.9.0
recommonmark==0.7.1
Sphinx==4.0.1
sphinx-rtd-theme==0.5.2
sphinxcontrib-websupport==1.2.4
sphinxcontrib-images==0.9.3
tomlkit==0.7.1
generic==1.0.0
typing_extensions==3.10.0.0
importlib_metadata==4.0.1
