# Keep until RTD fully support pyproject.toml
docutils==0.16
Pygments==2.10.0
myst-parser==0.15.2
Sphinx==4.1.2
sphinx-rtd-theme==0.5.2
sphinxcontrib-websupport==1.2.4
sphinxcontrib-images==0.9.4
tomli==1.2.1
generic==1.0.0
typing_extensions==3.10.0.2
importlib_metadata==4.8.1
