
#toolbox > expander {
  border-top: 1px solid @unfocused_borders;
  margin-top: 6px;
  padding: 6px 3px 0px 3px;
}

#toolbox > expander:first-child {
  border-top: none;
  margin-top: 0px;
}

#toolbox flowboxchild {
  padding: 0;
}

#diagrams {
  border-top-width: 0px;
}

diagramview {
  background: white;
}

.status-window box {
  padding: 12px;
}

.dropdown-small {
  padding-left: 4px;
  padding-right: 4px;
}

.greeter list row {
  border-bottom: 1px solid alpha(@borders, 0.2);
  transition-property: background, opacity;
}

.greeter list row:last-child {
  border-bottom: none;
}

.greeter frame border {
  border-color: alpha(@borders, 0.6);
}

.greeter flowboxchild {
  border-radius: 11px;
  outline-offset: -3px;
  -gtk-outline-radius: 9px;
  /* min-width: 164px;
  min-height: 164px; */
}

.greeter flowboxchild:hover {
  background-color: @theme_selected_bg_color;
  /* GTK4: -gtk-icon-filter: brightness(1.2); */
  /* GTK3 only: */
  /* -gtk-icon-effect: highlight; */
}

.greeter flowboxchild:hover label {
  color: @theme_selected_fg_color;
}
