name: Build

env:
  POETRY_VERSION: 1.1.5

on:
  push:
  release:
    types: [published, prereleased]

jobs:
  lint:
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Set up Python
        uses: actions/setup-python@v2.2.1
      - name: Lint with Pre-commit
        uses: pre-commit/action@v2.0.0

  linux:
    needs: lint
    runs-on: ubuntu-20.04
    timeout-minutes: 30
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Set up Python
        uses: actions/setup-python@v2.2.1
      - name: Use Python Dependency Cache
        uses: actions/cache@v2.1.4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-${{ hashFiles('**/poetry.lock') }}-20.04
      - name: Install Dependencies
        run: >
          sudo apt-get update -q && sudo apt-get install
          --no-install-recommends -y xvfb python3-dev python3-gi upx
          python3-gi-cairo gir1.2-gtk-3.0 libgirepository1.0-dev libcairo2-dev
      - name: Install Poetry
        run: pip install poetry==$POETRY_VERSION
      - name: Collect Project Data
        id: meta
        run: .github/scripts/metadata.sh
      - name: Install Python Dependencies
        run: make install
      - name: Test with Pytest
        run: xvfb-run make test-all
      - name: Upload Code Coverage to Code Climate
        uses: paambaati/codeclimate-action@v2.7.5
        env:
          CC_TEST_REPORTER_ID: 05f6288b94a87daa172d3e96a33ec331a4374be7d01eb9a42b3b21c4c550a8ff
        with:
          coverageCommand: poetry run coverage xml
      - name: Create Source Dist and Wheel
        run: make dist
      - name: Upload gaphor-${{ steps.meta.outputs.version }}.tar.gz
        uses: actions/upload-artifact@v2
        with:
          name: gaphor-${{ steps.meta.outputs.version }}.tar.gz
          path: dist/gaphor-${{ steps.meta.outputs.version }}.tar.gz
      - name: Upload gaphor-${{ steps.meta.outputs.version }}-py3-none-any.whl
        uses: actions/upload-artifact@v2
        with:
          name: gaphor-${{ steps.meta.outputs.version }}-py3-none-any.whl
          path: dist/gaphor-${{ steps.meta.outputs.version }}-py3-none-any.whl
      - name: Build AppImage
        run: |
          cd packaging
          make all
          cd appimage
          make dist
      - name: Upload gaphor-${{ steps.meta.outputs.version }}-x86_64.AppImage
        uses: actions/upload-artifact@v2
        with:
          name: Gaphor-${{ steps.meta.outputs.version }}-x86_64.AppImage
          path: packaging/dist/Gaphor-${{ steps.meta.outputs.version }}-x86_64.AppImage
      - name: Publish to PyPI (release only)
        if: github.event_name == 'release'
        run: poetry publish -u __token__ -p ${{ secrets.PYPI_TOKEN }}

  windows:
    needs: lint
    runs-on: windows-latest
    timeout-minutes: 45
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    defaults:
      run:
        shell: msys2 {0}
    env:
      MSYSTEM: MINGW64
      MSYS2_ARCH: x86_64
      CHERE_INVOKING: yes
      PY_IGNORE_IMPORTMISMATCH: yes
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Set up MSYS2
        uses: msys2/setup-msys2@v2
        with:
          update: true
      - name: Use Python Dependency Cache
        uses: actions/cache@v2.1.4
        with:
          path: ~\AppData\Local\pip\Cache
          key: ${{ runner.os }}-poetry-${{ hashFiles('**/poetry.lock') }}
          restore-keys: ${{ runner.os }}-poetry-
      - name: Install Dependencies
        run: ./packaging/windows/msys2-install.sh
      - name: Install Poetry
        run: |
          pip install poetry==$POETRY_VERSION
          poetry config virtualenvs.create false
      - name: Collect Project Data
        id: meta
        run: .github/scripts/metadata.sh
      - name: Install Python Dependencies
        run: mingw32-make install
      - name: Test with PyTest
        run: mingw32-make test-all
      - name: Create Windows Installers
        run: |
          mingw32-make dist
          cd packaging
          mingw32-make all
          cd windows
          mingw32-make all
      - name: Sign Executables
        env:
          password: "${{ secrets.CERTPASSWORD }}"
          timestampUrl: http://timestamp.digicert.com
          installer: "packaging/dist/gaphor-${{ steps.meta.outputs.version }}-installer.exe"
          portable: "packaging/dist/gaphor-${{ steps.meta.outputs.version }}-portable.exe"
        shell: powershell
        run: |
          $pfx_cert_byte = [System.Convert]::FromBase64String("${{ secrets.Base64_Encoded_Pfx }}")
          $currentDirectory = Get-Location
          $certificatePath = Join-Path -Path $currentDirectory -ChildPath 'certificate.pfx'
          [IO.File]::WriteAllBytes("$certificatePath", $pfx_cert_byte)
          & 'C:\Program Files (x86)\Windows Kits\10\bin\10.0.17763.0\x86\signtool.exe' sign /f 'certificate.pfx' /tr $env:timestampUrl /td sha256 /fd sha256 /p $env:password $env:installer $env:portable
          Remove-Item 'certificate.pfx'
      - name: Upload gaphor-${{ steps.meta.outputs.version }}-installer.exe
        uses: actions/upload-artifact@v2
        with:
          name: gaphor-${{ steps.meta.outputs.version }}-installer.exe
          path: packaging/dist/gaphor-${{ steps.meta.outputs.version }}-installer.exe
      - name: Upload gaphor-${{ steps.meta.outputs.version }}-portable.exe
        uses: actions/upload-artifact@v2
        with:
          name: gaphor-${{ steps.meta.outputs.version }}-portable.exe
          path: packaging/dist/gaphor-${{ steps.meta.outputs.version }}-portable.exe
      - name: Upload Assets (release only)
        uses: AButler/upload-release-assets@v2.0
        if: github.event_name == 'release'
        with:
          files: "packaging/dist/*.exe"
          repo-token: ${{ secrets.GITHUB_TOKEN }}

  macos:
    needs: lint
    runs-on: macos-latest
    timeout-minutes: 30
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    env:
      LDFLAGS: -L/usr/local/opt/python@3.8/lib
      PKG_CONFIG_PATH: /usr/local/opt/libffi/lib/pkgconfig:/usr/local/opt/python@3.8/lib/pkgconfig:${PKG_CONFIG_PATH:-}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Set up Python
        uses: actions/setup-python@v2.2.1
      - name: Install Dependencies
        run: brew install gobject-introspection gtk+3 adwaita-icon-theme gtk-mac-integration create-dmg upx
      - name: Install Poetry
        run: pip install poetry==$POETRY_VERSION
      - name: Collect Project Data
        id: meta
        run: .github/scripts/metadata.sh
      - name: Use Python Dependency Cache
        uses: actions/cache@v2.1.4
        with:
          path: ~/Library/Caches/pip
          key: ${{ runner.os }}-poetry-${{ hashFiles('**/poetry.lock') }}
          restore-keys: ${{ runner.os }}-poetry-
      - name: Install Python Dependencies
        run: make install
      - name: Test with Pytest
        run: make test-all
      - name: Create macOS Application
        run: |
          make dist
          cd packaging
          make all
      - name: Import codesign certificate
        uses: apple-actions/import-codesign-certs@v1
        with:
          p12-file-base64: ${{ secrets.BASE64_ENCODED_P12 }}
          p12-password: ${{ secrets.CERTPASSWORD_P12 }}
      - name: Sign app
        run: >
          cd packaging

          codesign --sign "Developer ID Application: Daniel Yeaw (Z7V37BLNR9)"
          --verbose --deep --timestamp --entitlements macos/entitlements.plist
          -o runtime "dist/Gaphor.app"
      - name: Notarize app
        uses: devbotsxyz/xcode-notarize@v1
        with:
          product-path: "packaging/dist/Gaphor.app"
          appstore-connect-username: ${{ secrets.AC_USERNAME }}
          appstore-connect-password: ${{ secrets.AC_PASSWORD }}
      - name: Staple app
        uses: devbotsxyz/xcode-staple@v1
        with:
          product-path: "packaging/dist/Gaphor.app"
      - name: Create dmg
        run: >
          cd packaging

          create-dmg --volname "Gaphor ${{ steps.meta.outputs.version }}"
          --background "macos/background.png"
          --window-pos 200 120 --window-size 700 400 --icon-size 100
          --icon "Gaphor.app" 200 240 --hide-extension "Gaphor.app"
          --app-drop-link 500 240 "dist/Gaphor-${{ steps.meta.outputs.version }}.dmg"
          "dist/Gaphor.app"
      - name: Notarize dmg
        uses: devbotsxyz/xcode-notarize@v1
        with:
          product-path: "packaging/dist/Gaphor-${{ steps.meta.outputs.version }}.dmg"
          appstore-connect-username: ${{ secrets.AC_USERNAME }}
          appstore-connect-password: ${{ secrets.AC_PASSWORD }}
          primary-bundle-id: org.gaphor.gaphor
      - name: Staple .dmg
        uses: devbotsxyz/xcode-staple@v1
        with:
          product-path: "packaging/dist/Gaphor-${{ steps.meta.outputs.version }}.dmg"
      - name: Upload Gaphor-${{ steps.meta.outputs.version }}.dmg
        uses: actions/upload-artifact@v2
        with:
          name: Gaphor-${{ steps.meta.outputs.version }}.dmg
          path: packaging/dist/Gaphor-${{ steps.meta.outputs.version }}.dmg
      - name: Upload Assets (release only)
        uses: AButler/upload-release-assets@v2.0
        if: github.event_name == 'release'
        with:
          files: "packaging/dist/Gaphor-${{ steps.meta.outputs.version }}.dmg"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
