name: Full Build

on:
  push:
  release:
    types: [published]
env:
  python_version: '3.11'
  mainline_build: ${{ github.ref == 'refs/heads/main' || github.event.label.name == 'translation' || github.event_name == 'release' }}

jobs:
  skip-check:
    name: Skip Run if Duplicate
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@v5.3.0
        with:
          concurrent_skipping: 'same_content'
          do_not_skip: '["release", "workflow_dispatch", "schedule"]'

  lint:
    name: Lint
    needs: skip-check
    runs-on: ubuntu-latest
    timeout-minutes: 10
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    steps:
      - uses: actions/checkout@v3.5.0
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Set up Python
        uses: actions/setup-python@v4.5.0
        with:
          python-version: ${{ env.python_version }}
      - name: Lint with Pre-commit
        uses: pre-commit/action@v3.0.0
      - name: Check translations
        run: pip install babel && python po/check-babel.py

  linux-wheel:
    name: Linux (Wheel)
    needs: lint
    runs-on: ubuntu-22.04
    timeout-minutes: 30
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    outputs:
      targz: gaphor-${{ steps.setup_and_test.outputs.version }}.tar.gz
      wheel: gaphor-${{ steps.setup_and_test.outputs.version }}-py3-none-any.whl
    steps:
      - uses: actions/checkout@v3.5.0
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Install Linux Dependencies
        run: >
          sudo apt-get update -qq && sudo apt-get install -qq --no-install-recommends upx
          gir1.2-gtk-4.0 libgirepository1.0-dev libgtksourceview-5-dev libadwaita-1-dev
          graphviz
      - name: Set up Python
        uses: actions/setup-python@v4.5.0
        with:
          python-version: ${{ env.python_version }}
      - name: Use Python Dependency Cache
        uses: actions/cache@v3.3.1
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-${{ hashFiles('**/poetry.lock') }}-22.04
      - name: Install Dependencies and Test
        id: setup_and_test
        uses: ./.github/actions/setup_and_test
      - name: Upload Code Coverage to Code Climate
        uses: paambaati/codeclimate-action@v3.2.0
        env:
          CC_TEST_REPORTER_ID: 05f6288b94a87daa172d3e96a33ec331a4374be7d01eb9a42b3b21c4c550a8ff
        with:
          coverageCommand: poetry run coverage xml
      - name: Create Source Dist and Wheel
        run: poetry build
      - name: Upload gaphor-${{ steps.setup_and_test.outputs.version }}.tar.gz
        uses: actions/upload-artifact@v3
        with:
          name: gaphor-${{ steps.setup_and_test.outputs.version }}.tar.gz
          path: dist/gaphor-${{ steps.setup_and_test.outputs.version }}.tar.gz
      - name: Upload gaphor-${{ steps.setup_and_test.outputs.version }}-py3-none-any.whl
        uses: actions/upload-artifact@v3
        with:
          name: gaphor-${{ steps.setup_and_test.outputs.version }}-py3-none-any.whl
          path: dist/gaphor-${{ steps.setup_and_test.outputs.version }}-py3-none-any.whl

  linux-flatpak-devel:
    name: Linux (Devel Flatpak)
    needs: lint
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3.5.0
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Install Linux Dependencies
        run: sudo apt update -qq && sudo apt install -qq --no-install-recommends elfutils flatpak flatpak-builder
      - name: Install Flatpak SDK
        run: |
          flatpak remote-add --user --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
          flatpak install --user --noninteractive flathub org.gnome.Platform//44 org.gnome.Sdk//44
      - name: Build Development Flatpak
        run: flatpak-builder --user --force-clean ./.flatpak-build org.gaphor.Gaphor.json
      - name: Self-Test Development Flatpak
        run: xvfb-run flatpak-builder --run ./.flatpak-build org.gaphor.Gaphor.json gaphor --self-test

  linux-appimage:
    name: Linux (AppImage)
    needs: lint
    runs-on: ubuntu-latest
    permissions:
      contents: write
    container:
      image: ghcr.io/gaphor/gaphor-appimage:2023.3.0
    timeout-minutes: 30
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    outputs:
      appimage: Gaphor-${{ steps.setup_and_test.outputs.version }}-x86_64.AppImage
    steps:
      - uses: actions/checkout@v3.5.0
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Set workspace as a safe git directory
        run: git config --global --add safe.directory $GITHUB_WORKSPACE
      - name: Use Python Dependency Cache
        uses: actions/cache@v3.3.1
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-${{ hashFiles('**/poetry.lock') }}-container
      - name: Install Dependencies and Test
        id: setup_and_test
        uses: ./.github/actions/setup_and_test
      - name: Create Linux Appimage
        uses: ./.github/actions/linux_appimage
        if: ${{ github.actor != 'dependabot[bot]' }}
        with:
          version: ${{ steps.setup_and_test.outputs.version }}
          github_token: ${{ secrets.GITHUB_TOKEN }}

  check-linux-appimage:
    name: Check Linux AppImage
    needs: linux-appimage
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: ${{ needs.linux-appimage.outputs.appimage }}
          path: .
      - name: Perform self-test
        run: |
          chmod +x ${{ needs.linux-appimage.outputs.appimage }}
          xvfb-run ./${{ needs.linux-appimage.outputs.appimage }} --self-test

  macos:
    name: macOS
    needs: lint
    runs-on: macos-11
    permissions:
      contents: write
    timeout-minutes: 45
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    outputs:
      artifact: ${{ steps.create.outputs.artifact }}
    env:
      LDFLAGS: -L/usr/local/opt/python@${python_version}/lib
      PKG_CONFIG_PATH: /usr/local/opt/libffi/lib/pkgconfig:/usr/local/opt/python@${python_version}/lib/pkgconfig:${PKG_CONFIG_PATH:-}
    steps:
      - uses: actions/checkout@v3.5.0
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Install macOS Dependencies
        run: >
          brew update && brew install gtk4 gtksourceview5 libadwaita adwaita-icon-theme
          gobject-introspection graphviz create-dmg upx
      - name: Set up Python
        uses: actions/setup-python@v4.5.0
        with:
          python-version: ${{ env.python_version }}
      - name: Use Python Dependency Cache
        uses: actions/cache@v3.3.1
        with:
          path: ~/Library/Caches/pip
          key: ${{ runner.os }}-poetry-${{ hashFiles('**/poetry.lock') }}
          restore-keys: ${{ runner.os }}-poetry-
      - name: Install Dependencies and Test
        id: setup_and_test
        uses: ./.github/actions/setup_and_test
      - name: Create macOS Application
        id: create
        if: ${{ github.actor != 'dependabot[bot]' }}
        uses: ./.github/actions/macos_dmg
        with:
          sign_app: ${{ env.mainline_build }}
          version: ${{ steps.setup_and_test.outputs.version }}
          base64_encoded_p12: ${{ secrets.BASE64_ENCODED_P12 }}
          certpassword_p12: ${{ secrets.CERTPASSWORD_P12 }}
          ac_username:  ${{ secrets.AC_USERNAME }}
          ac_password: ${{ secrets.AC_PASSWORD }}
          github_token: ${{ secrets.GITHUB_TOKEN }}

  check-macos-app:
    name: Check macOS App
    needs: macos
    runs-on: macos-latest
    if: ${{ github.actor != 'dependabot[bot]' }}
    timeout-minutes: 10
    steps:
      - uses: actions/download-artifact@v3
        id: download
        with:
          name: ${{ needs.macos.outputs.artifact }}
          path: .
      - name: Perform self-test (dmg)
        run: |
          hdiutil attach ${{ needs.macos.outputs.artifact }}
          cd /Volumes/Gaphor*
          Gaphor.app/Contents/MacOS/gaphor-exe --self-test

  windows-build-gtk:
    name: Windows (Build GTK)
    needs: skip-check
    runs-on: windows-latest
    timeout-minutes: 60
    env:
      gvsbuild_version: 2023.3.0
      # Bump this number if you want to force a rebuild of gvsbuild with the same version
      gvsbuild_update: 0
    outputs:
      cachekey: ${{ steps.output.outputs.cachekey }}
    steps:
      - name: GTK binaries create dir
        run: mkdir C:\gtk-build\gtk\x64\release
      - name: GTK binaries get from cache
        uses: actions/cache@v3.3.1
        id: cache
        with:
          path: C:\gtk-build\gtk\x64\release\**
          key: ${{ runner.os }}-gvsbuild-${{ env.gvsbuild_update }}-${{ env.gvsbuild_version }}
      - name: Set up Python
        if: steps.cache.outputs.cache-hit != 'true'
        uses: actions/setup-python@v4.5.0
        with:
          python-version: ${{ env.python_version }}
      - name: GTK binaries move git binary
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          move "C:\Program Files\Git\usr\bin" "C:\Program Files\Git\usr\notbin"
          move "C:\Program Files\Git\bin" "C:\Program Files\Git\notbin"
      - name: Install gvsbuild
        if: steps.cache.outputs.cache-hit != 'true'
        run: python -m pip install gvsbuild==${{ env.gvsbuild_version }}
        # j2 option resolves out of memory issues while linking on GitHub Actions runners
      - name: GTK binaries run gvsbuild
        if: steps.cache.outputs.cache-hit != 'true'
        run: >
          gvsbuild build --ninja-opts -j2 --enable-gi --py-wheel gobject-introspection
          gtk4 libadwaita gtksourceview5 pycairo pygobject adwaita-icon-theme hicolor-icon-theme
      - name: Copy wheels to cached directory
        if: steps.cache.outputs.cache-hit != 'true'
        run: >
          Get-ChildItem C:\gtk-build\build\x64\release\*\dist\*.whl |
          ForEach-Object -process { cp $_ C:\gtk-build\gtk\x64\release\ }
      - name: GTK binaries restore git binary
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          move "C:\Program Files\Git\usr\notbin" "C:\Program Files\Git\usr\bin"
          move "C:\Program Files\Git\notbin" "C:\Program Files\Git\bin"
      - name: GTK binaries output cache key
        id: output
        run: Write-Output "cachekey=${{ runner.os }}-gvsbuild-${{ env.gvsbuild_update }}-${{ env.gvsbuild_version }}" >> $env:GITHUB_OUTPUT

  windows:
    name: Windows
    needs: [lint, windows-build-gtk]
    runs-on: windows-latest
    env:
      INCLUDE: C:\gtk-build\gtk\x64\release\include;C:\gtk-build\gtk\x64\release\include\cairo;C:\gtk-build\gtk\x64\release\include\glib-2.0;C:\gtk-build\gtk\x64\release\include\gobject-introspection-1.0;C:\gtk-build\gtk\x64\release\lib\glib-2.0\include;
      LIB: C:\gtk-build\gtk\x64\release\lib
    permissions:
      contents: write
    timeout-minutes: 45
    outputs:
      installer: gaphor-${{ steps.setup_and_test.outputs.version }}-installer.exe
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    steps:
      - name: Create GTK binaries dir
        run: mkdir C:\gtk-build\gtk\x64\release
      - name: Get GTK binaries from cache
        uses: actions/cache/restore@v3.3.1
        id: cache
        with:
          path: C:\gtk-build\gtk\x64\release\**
          key: ${{ needs.windows-build-gtk.outputs.cachekey }}
      - name: Check cache hit
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          echo "No GTK binaries cache"
          exit 1
      - name: Set up env
        run: |
          Write-Output "PKG_CONFIG=C:\gtk-build\gtk\x64\release\bin\pkgconf.exe" >> $env:GITHUB_ENV
          Write-Output "C:\gtk-build\gtk\x64\release\bin" >> $env:GITHUB_PATH
          choco install graphviz -y
      - uses: actions/checkout@v3.5.0
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Set up Python
        uses: actions/setup-python@v4.5.0
        with:
          python-version: ${{ env.python_version }}
      - name: Install pipx
        run: |
          python -m pip install pipx
          pipx ensurepath
      - name: Use Python Dependency Cache
        uses: actions/cache@v3.3.1
        with:
          path: ~\AppData\Local\pip\Cache
          key: ${{ runner.os }}-poetry-${{ hashFiles('**/poetry.lock') }}
          restore-keys: ${{ runner.os }}-poetry-
      - name: Install Dependencies and Test
        id: setup_and_test
        uses: ./.github/actions/setup_and_test
      - name: Create Windows Executables
        uses: ./.github/actions/windows_executables
        if: ${{ github.actor != 'dependabot[bot]' }}
        with:
          mainline_build: ${{ env.mainline_build }}
          version: ${{ steps.setup_and_test.outputs.version }}
          cert_password: ${{ secrets.CERTPASSWORD }}
          base64_encoded_pfx: ${{ secrets.BASE64_ENCODED_PFX }}
          github_token: ${{ secrets.GITHUB_TOKEN }}

  check-windows-installer:
    name: Check Windows Installer
    needs: windows
    runs-on: windows-latest
    timeout-minutes: 15
    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: ${{ needs.windows.outputs.installer }}
          path: .
      - name: Install Gaphor
        timeout-minutes: 5
        run: start "" /WAIT "${{ needs.windows.outputs.installer }}" /S
        shell: cmd
      - name: Perform self-test
        timeout-minutes: 5
        run: start "" /WAIT "C:\Program Files\Gaphor\gaphor-exe.exe" --self-test
        shell: cmd
      - name: Test output
        if: always()
        run: type gaphor-self-test.txt
        shell: cmd

  publish-to-pypi:
    name: Publish to PyPI (release only)
    needs: [ linux-wheel, linux-flatpak-devel, check-linux-appimage, check-macos-app, check-windows-installer ]
    runs-on: ubuntu-22.04
    if: github.event_name == 'release'
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: ${{ needs.linux-wheel.outputs.targz }}
          path: dist
      - uses: actions/download-artifact@v3
        with:
          name: ${{ needs.linux-wheel.outputs.wheel }}
          path: dist
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_TOKEN }}
