name: Full Build

on:
  push:
    branches:
      - main
      - 'packaging/**'
  release:
    types: [published, prereleased]
env:
  python_version: '3.10'

jobs:

  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ env.python_version }}
      - name: Lint with Pre-commit
        uses: pre-commit/action@v2.0.3
      - name: Check translations
        run: pip install babel && python po/check-babel.py

  linux:
    needs: lint
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/gaphor/gaphor-appimage
    timeout-minutes: 30
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Use Python Dependency Cache
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-${{ hashFiles('**/poetry.lock') }}-container
      - name: Install Dependencies and Test
        id: setup_and_test
        uses: ./.github/actions/setup_and_test
        with:
          xvfb_command: 'xvfb-run'
      - name: Install Build Dependencies
        run: poetry install --no-dev --extras poethepoet
      - name: Create Source Dist and Wheel
        run: poetry run poe dist
      - name: Upload gaphor-${{ steps.setup_and_test.outputs.version }}.tar.gz
        uses: actions/upload-artifact@v2
        with:
          name: gaphor-${{ steps.setup_and_test.outputs.version }}.tar.gz
          path: dist/gaphor-${{ steps.setup_and_test.outputs.version }}.tar.gz
      - name: Upload gaphor-${{ steps.setup_and_test.outputs.version }}-py3-none-any.whl
        uses: actions/upload-artifact@v2
        with:
          name: gaphor-${{ steps.setup_and_test.outputs.version }}-py3-none-any.whl
          path: dist/gaphor-${{ steps.setup_and_test.outputs.version }}-py3-none-any.whl
      - name: Build AppImage
        run: |
          jhbuild shell
          poetry run poe package
          cd _packaging/appimage
          make dist
      - name: Upload gaphor-${{ steps.setup_and_test.outputs.version }}-x86_64.AppImage
        uses: actions/upload-artifact@v2
        with:
          name: Gaphor-${{ steps.setup_and_test.outputs.version }}-x86_64.AppImage
          path: _packaging/dist/Gaphor-${{ steps.setup_and_test.outputs.version }}-x86_64.AppImage
      - name: Upload Assets (release only)
        uses: AButler/upload-release-assets@v2.0
        if: github.event_name == 'release'
        with:
          files: "_packaging/dist/*; dist/*"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish to PyPI (release only)
        if: github.event_name == 'release'
        run: poetry publish -u __token__ -p ${{ secrets.PYPI_TOKEN }}

  macos:
    needs: lint
    runs-on: macos-latest
    timeout-minutes: 45
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    env:
      LDFLAGS: -L/usr/local/opt/python@3.10/lib
      PKG_CONFIG_PATH: /usr/local/opt/libffi/lib/pkgconfig:/usr/local/opt/python@3.10/lib/pkgconfig:${PKG_CONFIG_PATH:-}
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Install macOS Dependencies
        uses: ./.github/actions/macos_dependencies
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ env.python_version }}
      - name: Use Python Dependency Cache
        uses: actions/cache@v3
        with:
          path: ~/Library/Caches/pip
          key: ${{ runner.os }}-poetry-${{ hashFiles('**/poetry.lock') }}
          restore-keys: ${{ runner.os }}-poetry-
      - name: Install Dependencies and Test
        id: setup_and_test
        uses: ./.github/actions/setup_and_test
      - name: Install Build Dependencies
        run: poetry install --no-dev --extras poethepoet
      - name: Build Wheel
        run: poetry run poe dist
      - name: Import codesign certificate
        uses: apple-actions/import-codesign-certs@v1.0.4
        with:
          p12-file-base64: ${{ secrets.BASE64_ENCODED_P12 }}
          p12-password: ${{ secrets.CERTPASSWORD_P12 }}
      - name: Create Signed macOS Application
        run: poetry run poe package
      - name: Notarize app
        uses: devbotsxyz/xcode-notarize@v1
        with:
          product-path: "_packaging/dist/Gaphor.app"
          appstore-connect-username: ${{ secrets.AC_USERNAME }}
          appstore-connect-password: ${{ secrets.AC_PASSWORD }}
      - name: Staple app
        uses: devbotsxyz/xcode-staple@v1
        with:
          product-path: "_packaging/dist/Gaphor.app"
      - name: Create dmg
        run: >
          cd _packaging

          create-dmg --volname "Gaphor ${{ steps.setup_and_test.outputs.version }}"
          --background "macos/background.png"
          --window-pos 200 120 --window-size 700 400 --icon-size 100
          --icon "Gaphor.app" 200 240 --hide-extension "Gaphor.app"
          --app-drop-link 500 240 "dist/Gaphor-${{ steps.setup_and_test.outputs.version }}.dmg"
          "dist/Gaphor.app"
      - name: Notarize dmg
        uses: devbotsxyz/xcode-notarize@v1
        with:
          product-path: "_packaging/dist/Gaphor-${{ steps.setup_and_test.outputs.version }}.dmg"
          appstore-connect-username: ${{ secrets.AC_USERNAME }}
          appstore-connect-password: ${{ secrets.AC_PASSWORD }}
          primary-bundle-id: org.gaphor.gaphor
      - name: Staple .dmg
        uses: devbotsxyz/xcode-staple@v1
        with:
          product-path: "_packaging/dist/Gaphor-${{ steps.setup_and_test.outputs.version }}.dmg"
      - name: Upload Gaphor-${{ steps.setup_and_test.outputs.version }}.dmg
        uses: actions/upload-artifact@v2
        with:
          name: Gaphor-${{ steps.setup_and_test.outputs.version }}.dmg
          path: _packaging/dist/Gaphor-${{ steps.setup_and_test.outputs.version }}.dmg
      - name: Upload Assets (release only)
        uses: AButler/upload-release-assets@v2.0
        if: github.event_name == 'release'
        with:
          files: "_packaging/dist/Gaphor-${{ steps.setup_and_test.outputs.version }}.dmg"
          repo-token: ${{ secrets.GITHUB_TOKEN }}

  windows-build-gtk:
    needs: lint
    runs-on: windows-latest
    timeout-minutes: 60
    env:
      # Git revision of gvsbuild we use for to build GTK and the other dependencies
      gvsbuildref: a587ce829cd8c3181a45a604ae32f47b0f75411e
      # Bump this number if you want to force a rebuild of gvsbuild with the same revision
      gvsbuildupdate: 1
    outputs:
      cachekey: ${{ steps.output.outputs.cachekey }}
    steps:
      - name: GTK binaries create dir
        run: mkdir C:\gtk-build\gtk\x64\release
      - name: GTK binaries get from cache
        uses: actions/cache@v3
        id: cache
        with:
          path: C:\gtk-build\gtk\x64\release\**
          key: gvsbuild-${{ env.gvsbuildupdate }}-${{ env.gvsbuildref }}
      - name: GTK binaries checkout gvsbuild
        if: steps.cache.outputs.cache-hit != 'true'
        uses: actions/checkout@v3
        with:
          repository: wingtk/gvsbuild
          ref: ${{ env.gvsbuildref }}
          path: gvsbuild
      - name: Set up Python
        if: steps.cache.outputs.cache-hit != 'true'
        uses: actions/setup-python@v3
        with:
          python-version: ${{ env.python_version }}
      - name: Install visual studio tools
        if: steps.cache.outputs.cache-hit != 'true'
        run: choco install visualstudio2019-workload-vctools
      - name: GTK binaries move git binary
        if: steps.cache.outputs.cache-hit != 'true'
        run: move "C:\Program Files\Git\usr\bin" "C:\Program Files\Git\usr\notbin"
      - name: GTK binaries run gvsbuild
        if: steps.cache.outputs.cache-hit != 'true'
        working-directory: gvsbuild
        run: >
          python .\build.py build -p=x64 --vs-ver=16 --python-ver=${{ env.python_version }} --msys-dir=C:\msys64
          --enable-gi --py-wheel --gtk3-ver=3.24 gobject-introspection gtk3 pycairo pygobject
          gtksourceview4 adwaita-icon-theme hicolor-icon-theme
      - name: Copy wheels to cached directory
        if: steps.cache.outputs.cache-hit != 'true'
        run: Get-ChildItem C:\gtk-build\build\x64\release\*\dist\*.whl | ForEach-Object -process { cp $_ C:\gtk-build\gtk\x64\release\ }
      - name: GTK binaries restore git binary
        if: steps.cache.outputs.cache-hit != 'true'
        run: move "C:\Program Files\Git\usr\notbin" "C:\Program Files\Git\usr\bin"
      - name: GTK binaries output cache key
        id: output
        run: echo "::set-output name=cachekey::gvsbuild-${{ env.gvsbuildupdate }}-${{ env.gvsbuildref }}"

  windows:
    needs: [lint, windows-build-gtk]
    runs-on: windows-latest
    timeout-minutes: 45
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    steps:
      - name: Create GTK binaries dir
        run: mkdir C:\gtk-build\gtk\x64\release
      - name: Get GTK binaries from cache
        uses: actions/cache@v3
        id: cache
        with:
          path: C:\gtk-build\gtk\x64\release\**
          key: ${{ needs.windows-build-gtk.outputs.cachekey }}
      - name: Set up env
        run: |
          echo "PKG_CONFIG=C:\gtk-build\gtk\x64\release\bin\pkgconf.exe" >> $GITHUB_ENV
          echo "C:\gtk-build\gtk\x64\release\bin" >> $GITHUB_PATH
        shell: bash
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ env.python_version }}
      - name: Use Python Dependency Cache
        uses: actions/cache@v3
        with:
          path: ~\AppData\Local\pip\Cache
          key: ${{ runner.os }}-poetry-${{ hashFiles('**/poetry.lock') }}
          restore-keys: ${{ runner.os }}-poetry-
      - name: Install Dependencies and Test
        id: setup_and_test
        uses: ./.github/actions/setup_and_test
        with:
          install_others: Get-ChildItem C:\gtk-build\gtk\x64\release\*.whl | ForEach-Object -process { poetry run pip install $_ }
      - name: Windows Executables
        uses: ./.github/actions/windows_executables
        with:
          version: ${{ steps.setup_and_test.outputs.version }}
          cert_password: ${{ secrets.CERTPASSWORD }}
          base64_encoded_pfx: ${{ secrets.BASE64_ENCODED_PFX }}
      - name: Upload gaphor-${{ steps.setup_and_test.outputs.version }}-installer.exe
        uses: actions/upload-artifact@v2
        with:
          name: gaphor-${{ steps.setup_and_test.outputs.version }}-installer.exe
          path: _packaging/dist/gaphor-${{ steps.setup_and_test.outputs.version }}-installer.exe
      - name: Upload gaphor-${{ steps.setup_and_test.outputs.version }}-portable.exe
        uses: actions/upload-artifact@v2
        with:
          name: gaphor-${{ steps.setup_and_test.outputs.version }}-portable.exe
          path: _packaging/dist/gaphor-${{ steps.setup_and_test.outputs.version }}-portable.exe
      - name: Upload Assets (release only)
        uses: AButler/upload-release-assets@v2.0
        if: github.event_name == 'release'
        with:
          files: "_packaging/dist/*.exe"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
