name: Hypothesis Tests
on:
  workflow_dispatch:
  schedule:
    # min hour dom month dow
    - cron:  '0 6 * * 3'
env:
  python_version: '3.14'

permissions:
  contents: read

jobs:

  hypothesis:
    runs-on: ubuntu-24.04
    container: fedora:39
    timeout-minutes: 60
    permissions:
      issues: write
    steps:
      - name: Install Linux Dependencies
        run: >
          dnf install -y gcc git graphviz pkg-config python-launcher upx
          mutter dbus-x11 gtk4 gobject-introspection-devel
          cairo-gobject-devel gtksourceview5-devel libadwaita-devel cairo-devel
          python${python_version}-devel
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          persist-credentials: false
      - name: Set ownership of checkout directory
        run: chown -R $(id -u):$(id -g) $PWD
      - name: Use Python Dependency Cache
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-${{ hashFiles('**/poetry.lock') }}-39
      - name: Use Hypothesis Cache
        id: restore-cache
        uses: actions/cache/restore@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: .hypothesis
          key: ${{ runner.os }}-hypothesis
      - name: Install Dependencies
        uses: ./.github/actions/install
        with:
          python-command: python${{ env.python_version }}
      - name: Test with Hypothesis
        env:
          XDG_RUNTIME_DIR: /tmp
        run: |
          eval $(dbus-launch --auto-syntax)
          mutter --wayland --no-x11 --headless -- poetry run pytest -m hypothesis --hypothesis-profile=ci tests/test_model_consistency.py
      - name: Create Issue on Failure
        uses: JasonEtco/create-an-issue@1b14a70e4d8dc185e5cc76d3bec9eab20257b2c5 # v2.9.2
        if: failure()
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          filename: .github/hypothesis-test-failed.md
          update_existing: true
      - name: Save cache
        uses: actions/cache/save@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        if: always()
        with:
          path: .hypothesis
          key: steps.restore-cache.output.key
