name: Hypothesis Tests
on:
  workflow_dispatch:
  schedule:
    # min hour dom month dow
    - cron:  '0 6 * * *'
env:
  python_version: '3.10'

permissions:
  issues: write

jobs:

  hypothesis:
    runs-on: ubuntu-22.04
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v3.1.0
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Install Linux Dependencies
        uses: ./.github/actions/linux_dependencies
      - name: Set up Python
        uses: actions/setup-python@v4.2.0
        with:
          python-version: ${{ env.python_version }}
      - name: Use Python Dependency Cache
        uses: actions/cache@v3.0.10
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-${{ hashFiles('**/poetry.lock') }}-20.04
      - name: Use Hypothesis Cache
        uses: pat-s/always-upload-cache@v3.0.1
        with:
          path: .hypothesis
          key: ${{ runner.os }}-hypothesis
      - name: Install Dependencies and Test
        uses: ./.github/actions/setup_and_test
      - name: Test with Hypothesis
        run: xvfb-run poetry run pytest -m hypothesis --hypothesis-profile=ci
        shell: bash
      - uses: nashmaniac/create-issue-action@v1.1
        if: failure()
        name: Create Issue on Failure
        with:
          title: Hypothesis tests failed
          token: ${{secrets.GITHUB_TOKEN}}
          labels: bug,hypothesis
          body: |
            Test run failed for commit ${{github.sha}}.
            See https://github.com/gaphor/gaphor/actions/workflows/hypothesis-test.yml.
