name: Hypothesis Tests
on:
  workflow_dispatch:
  schedule:
    # min hour dom month dow
    - cron:  '0 6 * * *'
env:
  python_version: '3.11'

permissions:
  issues: write

jobs:

  hypothesis:
    runs-on: ubuntu-22.04
    container: fedora:39
    timeout-minutes: 60
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@eb238b55efaa70779f274895e782ed17c84f2895 # v2.6.1
        with:
          egress-policy: audit

      - name: Install Linux Dependencies
        run: >
          dnf install -y gcc git graphviz pkg-config python-launcher upx
          mutter dbus-x11 gtk4 gobject-introspection-devel
          cairo-gobject-devel gtksourceview5-devel libadwaita-devel cairo-devel
          python${{ env.python_version }}-devel
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Set ownership of checkout directory
        run: chown -R $(id -u):$(id -g) $PWD
      - name: Use Python Dependency Cache
        uses: actions/cache@e12d46a63a90f2fae62d114769bbf2a179198b5c # v3.3.3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-${{ hashFiles('**/poetry.lock') }}-39
      - name: Use Hypothesis Cache
        id: restore-cache
        uses: actions/cache/restore@e12d46a63a90f2fae62d114769bbf2a179198b5c # v3.3.3
        with:
          path: .hypothesis
          key: ${{ runner.os }}-hypothesis
      - name: Install Dependencies
        uses: ./.github/actions/install
        with:
          python-command: python${{ env.python_version }}
      - name: Test with Hypothesis
        run: |
          export XDG_RUNTIME_DIR=/run/user/$(id -u)
          mkdir -p $XDG_RUNTIME_DIR
          dbus-launch --auto-syntax > $XDG_RUNTIME_DIR/dbus-env
          source $XDG_RUNTIME_DIR/dbus-env
          mutter --wayland --no-x11 --sm-disable --headless -- poetry run pytest --cov
      - name: Create Issue on Failure
        uses: JasonEtco/create-an-issue@e27dddc79c92bc6e4562f268fffa5ed752639abd # v2.9.1
        if: failure()
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          filename: .github/hypothesis-test-failed.md
          update_existing: true
      - name: Save cache
        uses: actions/cache/save@e12d46a63a90f2fae62d114769bbf2a179198b5c # v3.3.3
        if: always()
        with:
          path: .hypothesis
          key: steps.restore-cache.output.key
