name: PR Labeler
on:
  pull_request_target:
    types: [opened]

jobs:
  pr-labeler:
    permissions:
      issues: write
    runs-on: ubuntu-latest
    steps:
      - uses: TimonVS/pr-labeler-action@v3.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
