on:
  release:
    types: published

name: Publish to PyPI

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.x'
    - name: Install Poetry
      uses: dschep/install-poetry-action@v1.3
      with:
        version: 1.0.2
    - name: Install Dependencies
      run: poetry install
    - name: Build and publish
      run: |
        make translate
        poetry build
        poetry publish -u __token__ -p ${{ secrets.PYPI_TOKEN }}
